<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="google-site-verification" content="dOPh2dML9YgOuy9x3_HTCZT39RlNEOWhosO0NIG_kts" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>{{ app.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  
  {% include 'meta_og.twig' %}
  {% include 'meta_twitter.twig' %}

</head>
<body data-mapbox-access-token="{{ app.mapbox_access_token }}">
  <div id="map"></div>
  <div id="feedback">
    <div id="feedback-header">
      <h1>Purchasing Power Index World Map</h1>
      <p>A Mapbox Countries demo</p>
    </div>
    <div id="feedback-text"></div>
    <div id="feedback-gradient-wrap">
      <canvas id="feedback-gradient"></canvas>
      <div id="feedback-gradient-pointer-wrap">
        <div id="feedback-gradient-pointer"></div>
      </div>
    </div>
    <div id="feedback-footer">
      Data source: <a href="https://www.worlddata.info/cost-of-living.php" target="_blank">WorldData.info</a>
    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GF63SQN52N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GF63SQN52N');
  </script>
</body>
</html>
