<meta property="og:url" content="{{ app.url }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ app.title }}" />
<meta property="og:description" content="{{ app.description }}" />
<meta property="og:image" content="{{ app.url }}/img/purchasing_power_index.png" />
