<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ app.title }} | {{ app.description }}">
<meta name="twitter:creator" content="Red de Leon">
<meta name="twitter:title" content="{{ app.title }}">
<meta name="twitter:description" content="{{ app.description }}">
<meta name="twitter:image" content="{{ app.url }}/img/chair-design-1-thumb.png">
<meta name="twitter:image:alt" content="{{ app.url }}/img/purchasing_power_index.png">
