/**
 *  index.scss
 *
 *
 */

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0 10px 6px 0;
  padding: 0;
}
p {
  margin: 10px 0 0 0;
  padding: 0;
}
#map {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#feedback {
  width: auto;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  padding: 8px 0 14px 0;
  white-space: nowrap;
}
#feedback-header {
  padding: 0 10px 25px 10px;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    max-width: 200px;
    white-space: normal;
  }
}
#feedback-text {
  height: 40px;
  margin: 0 10px 0 10px;
  white-space: nowrap;
}
#feedback-footer {
  padding: 20px 10px 0 10px;
  a {
    color: #fff;
  }
}
#feedback-gradient-wrap {
  margin: 6px 10px 0 10px;
  width: 220px;
  height: 20px;
  background-color: #fff;
}
#feedback-gradient {
  width: 100%;
  height: 100%;
}
#feedback-gradient-pointer-wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
#feedback-gradient-pointer {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -2px;
  left: 0;
  margin-left: -6px;
}